header{
	background-color: #cccccc;
}

h1, h2{
	text-transform: uppercase;
	font-family: Verdana, Tahoma, sans-serif;
}

h1{
	text-align: center;
	color: #ffffff;
}

h2{
	color: #2774e7;
}

section{
	background-color: #cccccc;
}

nav{
	background-color: #cccccc;
	font-family: "Times New Roman", serif
}

a{
	color: #000000;
}

img{
	display: none;
}